.cdx-checklist {
    min-height: 1.45em;
    margin: 0;
    padding-left: 0;
    outline: none;

    &__item {
        display: flex;
        position: relative;
        min-height: 1.45em;
        width: auto;
        margin-bottom: 3px;
        padding: 0 10px;
        box-sizing: content-box;
        list-style: none;

        &-text {
            outline: none;
            flex-grow: 1;
            padding: 10px 0;
        }

        &-checkbox {
            display: inline-block;
            flex-shrink: 0;
            position: relative;
            width: 20px;
            height: 20px;
            margin: 10px 10px 10px 0;
            border: 1px solid #d0d0d0;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
            user-select: none;

            &::after {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 9px;
                height: 5px;
                border: 2px solid #fcfff4;
                border-top: none;
                border-right: none;
                background: transparent;
                content: '';
                opacity: 0;
                transform: rotate(-45deg);
            }
        }

        &--checked {
            ^&-checkbox {
                background: #037cfb;
                border-color: #057aed;

                &::after {
                    opacity: 1;
                }
            }
        }
    }
}
