.cdx-checklist {
    --padding: 4px;
    --checkbox-margin: 5px;
    --radius-border: 5px;
    --checkbox-background: #fff;
    --color-border: #C9C9C9;
    --color-bg-checked: #369FFF;
    --color-bg-checked-hover: #0059AB;
    --color-tick-hover: #000;
    --color-tick: #fff;

    &__item {
        display: flex;
        box-sizing: content-box;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;

        &-text {
            outline: none;
            flex-grow: 1;
            padding: var(--padding) 0;
        }

        &-checkbox {
            margin: var(--checkbox-margin) 0;
            width: 22px;
            height: 22px;
            margin-right: 8px;
            cursor: pointer;

            svg {
                opacity: 0;
                width: 18px;
                height: 18px;
            }

            &:not(&--no-hover):hover {
                ^&-check {
                    svg {
                        opacity: 1;
                    }
                }
            }

            &-check {
                cursor: pointer;
                display: inline-block;
                flex-shrink: 0;
                position: relative;
                width: 18px;
                height: 18px;
                margin-left: 0;
                border-radius: var(--radius-border);
                border: 1px solid var(--color-border);
                background: var(--checkbox-background);

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 100%;
                    background-color: var(--color-bg-checked);
                    visibility: hidden;
                    pointer-events: none;
                    transform: scale(1);
                    transition: transform 400ms ease-out, opacity 400ms;
                }
            }
        }

        &--checked {
            ^&-checkbox {
                &:not(&--no-hover):hover {
                    .cdx-checklist__item-checkbox-check {
                        background: var(--color-bg-checked-hover);
                        border-color: var(--color-bg-checked-hover);
                    }
                }

                &-check {
                    background: var(--color-bg-checked);
                    border-color: var(--color-bg-checked);

                    svg {
                        opacity: 1;
                        
                        path {
                            stroke: var(--color-tick);
                        }
                    }

                    &::before {
                        opacity: 0;
                        visibility: visible;
                        transform: scale(3.5);
                    }
                }
            }
        }
    }

    @keyframes check-sign-in {
        from {
            transform: scale(.7) rotate(-45deg);
        }
        80% {
            transform: scale(1.1) rotate(-45deg);
        }
    }
}
